.alert-container{
  border: 1px solid black;
  padding: 20px;
  border-radius: 7px;
  margin: 30px 30px 30px 0px;
}
.alert .inner {
    display: block;
    padding: 10px;
    margin: 6px;
    border-radius: 3px;
    border: 1px solid rgb(180,180,180);
    background-color: rgb(212,212,212);
  }

/* Warning */

  .alert.error .inner {
    color: rgb(185,74,72);
  }


  .alert.error .inner {
    border: 1px solid rgb(238,211,215);
  background-color: rgb(242,222,222);
    }

/* success */

 .alert.success .inner {
    border: 1px solid rgb(214,233,198);
    background-color: rgb(223,240,216);
  }


  .alert.success .inner {
    color: rgb(70,136,71);
  }

/* info */

 .alert.info .inner {
    border: 1px solid rgb(188,232,241);
    background-color: rgb(217,237,247);
  }
  
  .alert.info .inner {
    color: rgb(58,135,173);
  }
  