.input-container{
    border: 1px solid black;
    padding: 20px;
    border-radius: 7px;
    margin: 30px 30px 30px 0px;
}

.input-glass{
    border: transparent;
    font-size: large;
    width: 200px;
    line-height: 2rem;
    padding: 5px;
}



.input-gray{
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #20232a;
    background-color: #ccc;
    font-size: large;
    border-radius: 2px;
    width: 200px;
    line-height: 2rem;
    padding: 5px;
}

.input-primary{
    width: 200px;
    border: 2px solid blue;
    line-height: 2rem;
    padding: 5px;
}