*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background:#20232a;
    line-height: 80px;
    position: relative;
    width: 100%;
}

label{
    line-height: 80px;
    font-size: 30px;
    color: white;
    font-weight: 200;
    margin-left: 50px;
    cursor: pointer;
}

.side-menu{
     position: sticky; 
     background-color: rgb(247, 247, 247);
    width: 250px;
    height: 100%;
    margin-top: 0px; 
}

.side-menu a {
    color: rgb(26, 26, 26);
    display: block;
    font-size: medium;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    margin-top: 5px;
    line-height: 2.45em;
    transition: border 0.2s ease 0s;
    margin-left: 10px;    
}

.side-menu a:hover {
    color:white;
    display: inline-block;
    border-bottom: 1px solid transparent;
    margin-top: 5px;
    font-weight: 700;
    transition: border 0.2s ease 0s;
    background: #20232a;
    width: 95%;
}

nav .menu-bar{
    float: right;
    display: none;
    margin-right: 20px;
}

@media(max-width:900px){


    .side-menu{
        display: none;
   }
}


