<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>image</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../components/styles/image.css">
</head>

<body>
    <div class="grid-container">
        <nav class="nav">
            <a href="../index.html"><label>messy</label></a>
        </nav>
        <div class="side-menu">
            <a href="../index.html"><span>Getting Started</span></a>
            <a href="./avatar.html"><span>Avatar</span></a>
            <a href="./alert.html"><span>Alert</span></a>
            <a href="./badge.html"><span>Badge</span></a>
            <a href="./button.html"><span>Button</span></a>
            <a href="./card.html"><span>Card</span></a>
            <a href="./image.html"><span><strong>Image</strong></span></a>
            <a href="./input.html"><span>Input</span></a>
            <a href="./list.html"><span>Lists</span></a>
            <a href="./modal.html"><span>Modal</span></a>
            <a href="./navbar.html"><span>NavBar</span></a>
        </div>
        <section class="content">

            <div class="content-section">
                <h1>Image</h1>
                <p>When you need to display pictures. Display when loading a large image or fault tolerant handling when
                    loading fail.</p>
            </div>
            <h2>Responsive Image</h2>
            <div class="image-container">

                <img src="https://images.unsplash.com/photo-1504909177259-7a4a3d7e969e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                    class="img-res" alt="">
            </div>
            <iframe src="https://carbon.now.sh/embed/uMEwfymqI9s3BzevAeYH"
                style="text-align:center;width: 470px; height: 225px; border:0;margin-top: 10px; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <h2>Different Shape</h2>
            <div class="image-container">
                <img src="https://images.unsplash.com/photo-1566935126136-2dc1c088e066?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=453&q=80"
                    class="img-rd" alt="">
                <img src="https://images.unsplash.com/photo-1566935126136-2dc1c088e066?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=453&q=80"
                    class="img-sq" alt="">
            </div>
            <iframe src="https://carbon.now.sh/embed/iIIbI38cXNi2xi6K7BMG"
                style="width: 482px; height: 222px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <div class="change-section">
                <a href="./card.html">card</a>
                <a href="./input.html" style="float: right;">input</a>
            </div>
        </section>

    </div>

</body>

</html>