<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>navigation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="../components/styles/navbar.css" rel="stylesheet">
    <link rel="icon" href="../media/favicon.png" type="image/png" />
</head>

<body>
    <div class="grid-container">
        <nav class="nav">
            <a href="../index.html"><label>messy</label></a>
        </nav>
        <div class="side-menu">
            <a href="../index.html"><span>Getting Started</span></a>
            <a href="./avatar.html"><span>Avatar</span></a>
            <a href="./alert.html"><span>Alert</span></a>
            <a href="./badge.html"><span>Badge</span></a>
            <a href="./button.html"><span>Button</span></a>
            <a href="./card.html"><span>Card</span></a>
            <a href="./image.html"><span>Image</span></a>
            <a href="./input.html"><span>Input</span></a>
            <a href="./list.html"><span>Lists</span></a>
            <a href="./modal.html"><span>Modal</span></a>
            <a href="./navbar.html"><span><strong>Navigation</strong></span></a>

        </div>
        <section class="content">

            <div class="content-section">
                <h1>Navigation</h1>
                <p>Navigation is an important part of any website, as a good navigation setup allows users to move
                    around the site quickly and efficiently.</p>
            </div>
            <div class="navigation-container">
                <div class="app-nav">
                    <label>messy</label>
                    <ul>
                        <li>Home</li>
                        <li>About</li>
                        <li>Profile</li>
                    </ul>
                </div>
            </div>
            <div style="margin-top: 80px;position: absolute;">
                <!-- <iframe src="https://carbon.now.sh/embed/xeRoV9GTKxHvf4WatVic"
                    style="width: 400px; height: 330px; border:0;margin: 50px; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe> -->
                <embed src="https://carbon.now.sh/embed/xeRoV9GTKxHvf4WatVic" width="500" height="350" />

            </div>
        </section>

    </div>

</body>

</html>